---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const postsAll = await getCollection("posts", ({ data }) => !data.draft && data.category === "自然と科学");
const posts = postsAll.sort((a,b) => (a.data.date < b.data.date ? 1 : -1));
---
<BaseLayout title="自然と科学 🪴 | かもねぎ通信">
    <h2 class="h2">自然と科学 🪴</h2>
    <div class="small">いきもの・自然・環境。可能なら最新の科学ニュースも。</div>
  <div class="hr"></div>
  <ArticleList posts={posts} title="記事一覧" />
</BaseLayout>
