---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const postsAll = await getCollection("posts", ({ data }) => !data.draft && data.category === "しんぶん");
const posts = postsAll.sort((a,b) => (a.data.date < b.data.date ? 1 : -1));
---
<BaseLayout title="しんぶん 📰 | かもねぎ通信">
    <h2 class="h2">しんぶん 📰</h2>
    <div class="small">各国の事件や政治情勢。事実を押さえつつ、最低限の私見。</div>
  <div class="hr"></div>
  <ArticleList posts={posts} title="記事一覧" />
</BaseLayout>
