---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ArticleList from "../components/ArticleList.astro";

const postsAll = await getCollection("posts", ({ data }) => !data.draft && data.category === "雑記");
const posts = postsAll.sort((a,b) => (a.data.date < b.data.date ? 1 : -1));
---
<BaseLayout title="✍️ 雑記 | かもねぎ通信">
    <h2 class="h2">✍️ 雑記</h2>
    <div class="small">日誌やエッセイ。</div>
  <div class="hr"></div>
  <ArticleList posts={posts} title="記事一覧" />
</BaseLayout>
