---
const currentYear = new Date().getFullYear();
---
<div class="footerInner">
  <nav class="footerLinks" aria-label="SNS">
    <a href="https://x.com/neo_neco_">X</a>
    <a href="https://note.com/neoneco">Note</a>
    <a href="https://bookmeter.com/users/1179346">読メ</a>
    <a href="https://www.youtube.com/@shuomatsumoto">YouTube</a>
  </nav>

  <div class="footerDivider" aria-hidden="true"></div>

  <div class="footerMeta">
    <span>© {currentYear} かもねぎ通信</span>
    <span class="mono">GitHub Pages / Astro</span>
  </div>
</div>
